body {
    background-color: #f6f5f5;
}

nav ul {
    padding-top: -4%;
    list-style-type: none;
    padding-left: 8%;
}

nav ul li {
    font-family: 'Montserrat', sans-serif;
    font-size: 3vw;
    display: inline;
    padding-left: 30px;
}

nav ul li a {
    color: #276678;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: none;
    color: orangered;
}

nav ul :nth-child(5) {
    padding-left: 10%;
}

#hello {
    padding-left: 10%;
    width: 50%;
    float: left;
}

#hello img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
    width: 35%;
    height: auto;
}

#hello p {
    font-size: 1.7vw;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

#hello h2 {
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: 'Indie Flower', cursive;
    font-size: 5vw;
    text-align: center;
}

#hand img {
    width: 15%;
    height: auto;
    margin-top: 10%;
    padding-left: 10%;
    clear: left;
}

#copyright p {
    font-size: 0.8vw;
    text-align: center;
    clear: left;
    color: gray;
}


/* Style The Dropdown Button */

.dropbtn {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}


/* The container <div> - needed to position the dropdown content */

.dropdown {
    cursor: pointer;
    position: relative;
    display: inline-block;
}


/* Dropdown Content (Hidden by Default) */

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}


/* Links inside the dropdown */

.dropdown-content a {
    color: #276678;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}


/* Change color of dropdown links on hover */

.dropdown-content a:hover {
    background-color: #f1f1f1
}


/* Show the dropdown menu on hover */

.dropdown:hover .dropdown-content {
    display: block;
}

.bold {
    font-weight: bold;
}

#socialMediaIcons {
    width: 7%;
    padding-left: 1%;
}

#socialMediatext {
    margin-top: 5%;
    margin-bottom: 0.1%;
    text-align: center;
    padding-top: 6%;
    font-size: 4vw;
    font-family: 'Indie Flower', cursive;
}

hr {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 10%;
    padding-top: 5%;
    column-gap: 5%;
    row-gap: 5%;
}

.container a {
    text-decoration: none;
    color: #276678;
}

.card {
    background-color: white;
    padding: 4% 4% 4% 4%;
    height: 85%;
    border: solid;
    text-align: center;
    border-color: #276678;
    border-radius: 20px;
}

.card img {
    width: 100%;
    border-radius: 30px;
}

.card:hover {
    border-color: orangered;
    color: orangered;
    font-size: 17px;
    box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.2), 0 12px 20px 0 rgba(0, 0, 0, 0.19);
}

@media screen and (max-width: 445px) {
    #hello {
        float: none;
        margin-left: auto;
        margin-right: auto;
        padding-left: 0%;
    }
    #hello img {
        display: block;
        width: 70%;
        margin-left: auto;
        margin-right: auto;
    }
    #hand {
        display: none;
    }
    #hello h2 {
        font-size: 45px;
    }
    #hello p {
        font-size: 20px;
        text-align: center;
        font-family: 'Indie Flower', cursive;
    }
    nav ul li {
        font-family: 'Montserrat', sans-serif;
        font-size: 5vw;
        display: inline;
        padding-left: 30px;
    }
    ul:nth-child(1) {
        padding-left: 0px;
        margin-left: auto;
    }
    #socialMediaIcons {
        width: 19%;
        padding-left: 1%;
    }
    #socialMediatext {
        margin-top: 5%;
        margin-bottom: 0.1%;
        text-align: center;
        padding-top: 6%;
        font-size: 8vw;
        font-family: 'Indie Flower', cursive;
    }
}