<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Abel&family=Comfortaa:wght@600&family=Cormorant+Garamond&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="search.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Monoton&display=swap" rel="stylesheet">


</head>

<body>
    <div id="app">
        <title>Coin Search - {{nameOfCoin}}</title>

        <center>
            <p style="display: inline; color: white; font-family: 'Monoton', cursive; font-size: 5vw; margin-bottom: 1%;">C<span><img src="assets/coin.png" alt="coinInfo" style="width: 3.8%; padding-top: 6%;"></span>in Search</p>


            <div></div>

            <input style="box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);" type="text" v-model="enteredAcronymNameOfCoin" placeholder="Enter a coin name (XRP, BNB etc.)" v-on:keyup.enter="searchCoin">


            <div id="informations" v-if="descriptionOfCoin!=null">
                <div id="logo"><img id="logoOfCoin" v-bind:src="logoOfCoin" v-bind:alt="nameOfCoin"></div>
                <h1 class="coinInfo">{{nameOfCoin}} - {{acronymOfCoin}}</h1>

                <a v-if="adressOn.facebook != ''" v-bind:href="adressOn.facebook" target="_blank" rel="facebookIcon"><img src="assets/facebook.png" class="icons" alt="facebook"></a>
                <a v-if="adressOn.reddit != ''" v-bind:href="adressOn.reddit" target="_blank" rel="redditIcon"><img src="assets/reddit-logo-16.png" class="icons" alt="reddit"></a>
                <a v-if="adressOn.twitter != ''" v-bind:href="adressOn.twitter" target="_blank" rel="twitterIcon"> <img src="assets/twitter.png" class="icons" alt="twitter"></a>
                <a v-if="adressOn.medium != ''" v-bind:href="adressOn.medium" target="_blank" rel="mediumIcon"><img src="assets/medium.png" class="icons" alt="medium"></a>




                <hr style="padding-left: 5%;">
                <p class="coinInfo">{{descriptionOfCoin}}</p>

            </div>

            <p v-if="descriptionOfCoin==null" style="margin-top: 5%; color: white;font-size: 1.8vw; font-style: italic;">"Thanks to Coin Info, you can get informations about coins and tokens." </p>

        </center>


    </div>

    <script type="module" src="../app.js"></script>
</body>


</html>